<div class="workout-form-container">
  <form
    class="workout-form"
    [formGroup]="workoutForm"
    (ngSubmit)="addWorkout()"
  >
    <h2 class="mb-6">{{ title }}</h2>

    <div class="flex flex-col gap-6">
      <!-- Name Input -->
      <div>
        <label for="userName">Name</label>
        <input
          class="input-box"
          name="userName"
          placeholder="Enter name"
          formControlName="userName"
          required
        />
        <span
          class="error-text"
          *ngIf="userName && userName.invalid && userName.touched"
          >This field is required</span
        >
      </div>

      <!-- Workout Type & Minutes -->
      <div class="flex flex-col sm:flex-row gap-6 mb-8">
        <!-- Workout Type -->
        <div class="w-full sm:w-1/2">
          <label for="workoutType"> Workout Type </label>
          <select
            name="workoutType"
            formControlName="workoutType"
            class="input-box"
            required
          >
            <option value="" disabled selected class="text-white">
              Select a workout
            </option>
            <option *ngFor="let type of workoutTypes" [value]="type">
              {{ type }}
            </option>
          </select>
          <span
            class="error-text"
            *ngIf="workoutType && workoutType.invalid && workoutType.touched"
            >his field is required</span
          >
        </div>

        <!-- Minutes Input -->
        <div class="w-full sm:w-1/2">
          <label for="workoutMinutes">Minutes</label>
          <input
            class="input-box"
            name="workoutMinutes"
            type="number"
            formControlName="workoutMinutes"
            placeholder="Enter minutes"
            required
          />
          <span
            class="error-text"
            *ngIf="
              workoutMinutes && workoutMinutes.invalid && workoutMinutes.touched
            "
            >This field is required</span
          >
        </div>
      </div>

      <!-- Submit Button -->
      <div class="flex justify-end">
        <button [disabled]="workoutForm.invalid" type="submit">
          Add Workout
        </button>
      </div>
    </div>
  </form>
</div>
