:host {
  @apply h-full;
}

.workout-form-container {
  @apply flex h-full;
}

.workout-form {
  @apply bg-[var(--background-color)] flex-grow p-16 flex flex-col justify-center;
}

.input-box {
  @apply bg-white  text-[var(--dark-text-color)]  w-full py-8 px-12 rounded focus:outline-none  placeholder-muted focus:ring-2 focus:ring-[var(--secondary-color)];
}

button {
  @apply bg-gradient-to-br from-[var(--secondary-color)] to-[var(--primary-color)] rounded-full px-8 py-4 text-white;
}

button:disabled {
  @apply opacity-60 cursor-not-allowed;
}

label {
  @apply text-[var(--font-small)];
}

.error-text {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
