<form class="workout-form-container" (submit)="addWorkout()">
  <div class="mb-12">
    <h2>Hey! Add Workout</h2>
  </div>

  <div>
    <div class="flex flex-col gap-12">
      <p-inputgroup>
        <p-floatlabel class="input-label">
          <input
            class="input-box"
            pInputText
            id="on_label"
            [(ngModel)]="userName"
            name="userName"
            required
          />
          <label for="on_label">Name</label>
        </p-floatlabel>
      </p-inputgroup>

      <div class="flex gap-12">
        <p-inputgroup>
          <p-floatlabel class="input-label">
            <p-select
              [classList]="['input-box']"
              [options]="workoutTypes"
              [(ngModel)]="workoutType"
              [checkmark]="true"
              [showClear]="true"
              class="w-full md:w-56"
              name="workoutType"
              required
            />
            <label for="on_label">Workout type</label>
          </p-floatlabel>
        </p-inputgroup>

        <p-inputgroup>
          <p-floatlabel class="input-label">
            <input
              class="input-box"
              pInputNumber
              id="on_label"
              [(ngModel)]="workoutMinutes"
              name="workoutMinutes"
              required
            />
            <label for="on_label">Minutes</label>
          </p-floatlabel>
        </p-inputgroup>
      </div>
    </div>

    <span class="flex justify-end">
      <button
        type="submit"
        class="mt-4 px-4 bg-white text-black py-2 rounded drop-shadow-md hover:drop-shadow-lg transition-shadow duration-300"
      >
        Add Workout
      </button>
    </span>
  </div>
</form>
