<div class="workout-list-container p-6">
  <div class="">
    <h2 class="mb-6">View all the Workouts</h2>
    <div class="mx-auto w-[32rem] sm:w-[52rem] md:w-[40rem] lg:w-auto">
      <p-table
        [value]="workouts"
        dataKey="id"
        [paginator]="true"
        [rows]="5"
        scrollable="true"
        [globalFilterFields]="['userName', 'type']"
        showGridlines
        [showCurrentPageReport]="true"
        [paginator]="true"
        [size]="selectedSize"
        [tableStyle]="{
       
          background: 'white',
          minWidth: '20rem',
       
       
        }"
        class="shadow-md rounded-lg"
      >
        <ng-template #header>
          <tr>
            <th
              style="
                min-width: 20%;
                font-weight: 600;
                font-size: 16px;
                padding: 12px;
              "
            >
              User Name
              <p-columnFilter
                type="text"
                field="userName"
                placeholder="Search by name"
                ariaLabel="Filter Name"
                style="font-size: 14px"
              ></p-columnFilter>
            </th>

            <th style="font-weight: 600; font-size: 16px; padding: 12px">
              Workout
              <p-iconfield iconPosition="left" class="ml-auto">
                <input
                  pInputText
                  type="text"
                  (input)="onFilterInput($event)"
                  placeholder="Search workout"
                />
              </p-iconfield>
            </th>
            <th style="font-weight: 600; font-size: 16px; padding: 12px">
              Number of workouts
            </th>
            <th style="font-weight: 600; font-size: 16px; padding: 12px">
              Total Workout Minutes
            </th>
          </tr>
        </ng-template>

        <ng-template #body let-workout>
          <tr class="border-b hover:bg-gray-50 transition duration-200">
            <td class="p-4">{{ workout.userName }}</td>
            <td class="p-4">{{ workout.type }}</td>
            <td class="p-4">{{ workout.workoutNumber }}</td>
            <td class="p-4">{{ workout.minutes }}</td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="5">No Workout found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
