<div
  class="p-6 bg-white shadow-lg rounded-lg max-w-3xl mx-auto animate-slide-in"
>
  <h2 class="text-xl font-semibold mb-4">Workout List</h2>

  <table class="w-full border-collapse border border-gray-300">
    <thead>
      <tr class="bg-gray-200">
        <th class="p-2 border">Name</th>
        <th class="p-2 border">Workout Type</th>
        <th class="p-2 border">Minutes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let workout of workouts">
        <td class="p-2 border">{{ workout.name }}</td>
        <td class="p-2 border">{{ workout.type }}</td>
        <td class="p-2 border">{{ workout.minutes }}</td>
      </tr>
    </tbody>
  </table>
</div>
