.layout-container {
  @apply flex items-center justify-center min-h-screen bg-gradient-to-br from-[var(--secondary-color)] to-[var(--primary-color)];
}

app-workout-form {
  height: 100%;
}

.app-container {
  @apply rounded-2xl h-[80vh]  w-[80%] overflow-hidden  mx-auto  flex flex-col  justify-center relative bg-white/10 backdrop-blur-lg shadow-lg relative;
}

.menu {
  @apply absolute left-2 top-1/2 -translate-y-1/2 bg-gray-800 bg-opacity-90 p-2 rounded-lg  z-10;
  background-color: rgba(50, 50, 50, 0.9);
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 5px;
  cursor: pointer;
  color: white;
}

.menu-icon {
  margin-right: 8px;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
