<div class="layout-container">
  <div class="app-container">
    <!-- Image -->
    <div class="img-container">
      <div class="img-gradient-container"></div>
      <div class="img-container-img"></div>
    </div>

    <!-- Sidebar Menu -->
    <div class="menu" [ngClass]="{ 'w-12': isCollapsed, 'w-48': !isCollapsed }">
      <button class="text-white" (click)="toggleMenu()">
        <img
          *ngIf="isCollapsed; else backIcon"
          src="assets/icons/next.svg"
          alt="Next Icon"
        />
        <ng-template #backIcon>
          <img src="assets/icons/back.svg" alt="Back Icon" />
        </ng-template>
      </button>

      <div *ngFor="let item of items" class="">
        <a
          [routerLink]="item.href"
          class="flex items-center menu-item flex items-center gap-2 p-2"
        >
          <ion-icon [name]="item.icon"></ion-icon>
          <span
            class="dock-label transition-all duration-300"
            [ngClass]="{ 'opacity-0': isCollapsed }"
          >
            {{ item.label }}
          </span>
        </a>
      </div>
    </div>

    <!-- Main Content -->
    <div class="main-content-container">
      <ng-content></ng-content>
    </div>
  </div>
</div>
