.layout-container {
  @apply flex items-center justify-center min-h-screen;
}

.app-container {
  @apply bg-white/5 h-[80vh]  md:w-[80%] xl:p-32  mx-auto rounded flex flex-col  justify-center relative;
}

.menu {
  @apply absolute left-2 top-1/2 -translate-y-1/2 bg-gray-800 bg-opacity-90 p-2 rounded-lg;
  background-color: rgba(50, 50, 50, 0.9);
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 5px;
  cursor: pointer;
  color: white;
}

.menu-icon {
  margin-right: 8px;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
