<om-starry-sky skyColor="rgb(0,0,0/1)">
  <div class="layout-container">
    <div class="app-container w-full relative">
      <div class="menu">
        <div *ngFor="let item of items" class="menu-item">
          <a href="{{ item.href }}">
            <img
              [title]="item.label"
              href="item.href"
              tooltipPosition="top"
              [alt]="item.label"
              width="100%"
            />
            <span class="dock-label">{{ item.label }}</span>
          </a>
        </div>
      </div>

      <ng-content></ng-content>
    </div>
  </div>
</om-starry-sky>
