.layout-container {
  @apply flex items-center justify-center min-h-screen bg-gradient-to-br from-[var(--secondary-color)] to-[var(--primary-color)];
}

.app-container {
  @apply rounded-2xl h-[80vh] w-[80%] mx-auto overflow-hidden flex relative bg-white/10 backdrop-blur-lg shadow-lg relative bg-[var(--background-color)];
}

.main-content-container {
  @apply flex items-center w-full md:w-2/3 lg:w-1/2;
}

.img-container {
  @apply relative hidden md:block md:w-1/2;
}

.menu {
  @apply absolute left-2 top-1/2 -translate-y-1/2 bg-gray-800 bg-opacity-90 p-2 rounded-lg  z-10 transition-all duration-300 ease-in-out;
  background-color: rgba(50, 50, 50, 0.9);
}

.menu-item {
  @apply flex items-center p-4 mb-[5px] cursor-pointer text-white;
}

.menu-icon {
  margin-right: 8px;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.img-container-img {
  @apply bg-[url('/assets/img.jpg')] bg-center bg-cover bg-no-repeat h-full;
}

.img-gradient-container {
  @apply absolute inset-0 bg-gradient-to-b from-[var(--secondary-color)] to-[var(--primary-color)] opacity-40;
}
