@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "~ionicons/dist/css/ionicons.min.css"; */

:root {
  --primary-color: #f48982; /* Coral Pink */
  --secondary-color: #fbdb89; /* Light Yellow */

  --background-color: #f9f5f3; /* Soft Gray Background */

  --light-text-color: #f9fafb; /* White Text */
  --dark-text-color: #615551; /* Dark Gray Text */

  --muted-text-color: #9ca3af; /* Light Gray Text */

  --white: #ffffff;
  --black: #000000;

  --font-h1: 4rem; /* 40px */
  --font-h2: 3.2rem; /* 32px */
  --font-h3: 2.4rem; /* 24px */
  --font-body: 1.6rem;
  --font-small: 1.4rem;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--dark-text-color);
  font-size: var(--font-body);
}

h1 {
  font-size: var(--font-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--font-h2);
  font-weight: 700;
}

h3 {
  font-size: var(--font-h3);
  font-weight: 500;
}

p {
  font-size: var(--font-body);
}

label,
button {
  font-size: var(--font-small) font-normal;
}

.dark-bg {
  background-color: var(--dark-bg);
}
